In [1]:
def f1():
    print('call f1')

In [2]:
print(f1)

<function f1 at 0x1109f6a60>

In [3]:
f1()

call f1

In [4]:
result = f1()
print(result)

call f1
None

In [5]:
def return_true():
    return True

In [6]:
result = return_true()
print(result)

True

In [7]:
# f(x) = x + 2
def add_two(x):
    return x + 2

In [8]:
add_two(3)

5

In [9]:
def sum_two_args(x, y):
    return x + y

In [10]:
sum_two_args(3, 5)

8

In [11]:
def make_student(name, age, gender):
    return {
        '이름': name,
        '나이': age,
        '성별': gender,
    }

In [12]:
s1 = make_student('이한영', 31, '남성')
print(s1)

{'이름': '이한영', '나이': 31, '성별': '남성'}

In [13]:
s2 = make_student(name='박보영', age=29, gender='여성')
print(s2)

{'이름': '박보영', '나이': 29, '성별': '여성'}

In [14]:
def make_student2(name, age, gender, nationality='대한민국'):
    return {
        '이름': name,
        '나이': age,
        '성별': gender,
        '국적': nationality,
    }

In [21]:
s3 = make_student2(name='이한영', age=31, gender='남성', nationality='미국')
s4 = make_student2(name='이한영', age=31, gender='남성')
print(s3)
print(s4)

{'이름': '이한영', '나이': 31, '성별': '남성', '국적': '미국'}
{'이름': '이한영', '나이': 31, '성별': '남성', '국적': '대한민국'}

In [23]:
list1 = list(range(10))
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
sum(list1)

45

In [25]:
def sum_all(*args):
    print(args)

In [26]:
sum_all(3, 5, 'abc', ['a', 'b', 'c'], '100')

(3, 5, 'abc', ['a', 'b', 'c'], '100')

In [29]:
def sum_all2(*args):
    result = 0
    for item in args:
        result += item
    return result

In [30]:
sum_all2(1,2,3,4,5,6,7,8,9,10)

55