In [9]:
seconds_per_hour = 60 * 60 * 60
print(seconds_per_hour)

seconds_per_day = 24 * seconds_per_hour
print(seconds_per_day)

seconds_per_year = 365 * seconds_per_day
print(seconds_per_year)

type(seconds_per_hour)

216000
5184000
1892160000
24.0
24

In [10]:
seconds_per_day / seconds_per_hour

24.0

In [11]:
seconds_per_day // seconds_per_hour

24

In [12]:
1234

1234

In [13]:
-100

-100

In [14]:
10 + 3

13

In [15]:
10 - 3

7

In [16]:
10 * 3

30

In [17]:
10 / 3

3.3333333333333335

In [18]:
10 // 3

3

In [19]:
10 ** 3

1000

In [20]:
10 *** 3

SyntaxError: invalid syntax (<ipython-input-20-5ecb2359413a>, line 1)

In [21]:
c = 60
c /= 8
c

7.5

In [22]:
c = 60
c //= 8
c

7

In [23]:
c = 60
c %= 8
c

4

In [24]:
a = 3.5
int(a)

3

In [25]:
a = 3
float(a)

3.0

In [41]:
a = 'apple'
b = 'banana'
c = 'cherry'

'I like %s, %s, %s' % (a, b, c)

'I like apple, banana, cherry'

In [ ]:
d = {
    'girlsday': {
        'korean': '걸스데이',
        'members': ['민아', '혜리', '소진', '유라'],
    },
    'redvelvet': {
        'korean': '레드벨벳',
        'members': ['아이린', '슬기', '웬디', '조이', '예리'],
    }
}